.right-part .brand-container{
	overflow:hidden;
}
.right-part .brand-container .brand-wrapper{
	width:705px;
}
.right-part .brand-container .brand-wrapper .brand-item{
	width:210px;
	border:1px solid #d7d8d2;
	margin-right:22px;
	margin-top:18px;
	height:228px;
	line-height:228px;
	float:left;
}