.slidesjs-pagination li a{
	display: block;
	width: 13px;
	height: 0px;
	padding-top: 13px;
	background-image: url(../image/pagination.png);
	background-position: 0 0;
	float: left;
	overflow: hidden;			
}
.slidesjs-pagination li a.active{
	background-position: 0 -13px;
}
.slidesjs-pagination li{
	float:left;
	margin:0 5px;
}
.slidesjs-pagination{
	margin: 6px 0 0;
	float: right;
	list-style: none;
}
.index-footer{
	margin-top:-80px;
}
.index-item{
	width:970px;
	height:515px;
	overflow:hidden;
}

.icon-nav-wrapper{
	width:918px;
	height:68px;
	margin:0 auto;
	top:-114px;
	position:relative;
	z-index:300;
}
.icon-nav-container{
	width:935px;
}
.icon-nav-item{
	width:68px;
	height:68px;
	display:block;
	float:left;
	margin-right:17px;
	opacity:0.8;
}
.icon-nav-item  a{
	display:block;
}
@-webkit-keyframes myanim{
	0%{
		-webkit-transform:rotate(0deg);
	}
	25%{
		-webkit-transform:rotate(-45deg);
	}
	50%{
		-webkit-transform:rotate(0deg);
	}
	75%{
		-webkit-transform:rotate(45deg);
	}
	100%{
		-webkit-transform:rotate(0deg);
	}
}
@keyframes myanim{
	0%{
		transform:rotate(0deg);
	}
	25%{
		transform:rotate(-45deg);
	}
	50%{
		transform:rotate(0deg);
	}
	75%{
		transform:rotate(45deg);
	}
	100%{
		transform:rotate(0deg);
	}
}
@-ms-keyframes myanim{
	0%{
		-ms-transform:rotate(0deg);
	}
	25%{
		-ms-transform:rotate(-45deg);
	}
	50%{
		-ms-transform:rotate(0deg);
	}
	75%{
		-ms-transform:rotate(45deg);
	}
	100%{
		-ms-transform:rotate(0deg);
	}
}
@-moz-keyframes myanim{
	0%{
		-moz-transform:rotate(0deg);
	}
	25%{
		-moz-transform:rotate(-45deg);
	}
	50%{
		-moz-transform:rotate(0deg);
	}
	75%{
		-moz-transform:rotate(45deg);
	}
	100%{
		-moz-transform:rotate(0deg);
	}
}
@-o-keyframes myanim{
	0%{
		-o-transform:rotate(0deg);
	}
	25%{
		-o-transform:rotate(-45deg);
	}
	50%{
		-o-transform:rotate(0deg);
	}
	75%{
		-o-transform:rotate(45deg);
	}
	100%{
		-o-transform:rotate(0deg);
	}
}
.icon-nav-item a:hover{
	-webkit-animation-name: myanim;
	-webkit-animation-duration: 5s;
	-webkit-animation-timing-function: linear;
	-webkit-animation-iteration-count:infinite;
	
	-ms-animation-name: myanim;
	-ms-animation-duration: 5s;
	-ms-animation-timing-function: linear;
	-ms-animation-iteration-count:infinite;
	
	-moz-animation-name: myanim;
	-moz-animation-duration: 5s;
	-moz-animation-timing-function: linear;
	-moz-animation-iteration-count:infinite;
	
	-o-animation-name: myanim;
	-o-animation-duration: 5s;
	-o-animation-timing-function: linear;
	-o-animation-iteration-count:infinite;
	
	animation-name: myanim;
	animation-duration: 5s;
	animation-timing-function: linear;
	animation-iteration-count:infinite;
}
.video-pic{
	cursor : pointer;
}
.video-play{
	display:none;
	position:absolute;
	top:202px;
	left:50%;
	margin-left:-484px;
	width:970px;
	height:515px;
	z-index:1500;
}
.video-play .video-side{
	position:absolute;
}
.video-play .right-video-side{
	width:28px;
	height:298px;
	background-color:#999966;
	color:#fffffd;
	padding-top:217px;
	top:0px;
	right:-26px;
}
.video-play .right-video-side a{
	line-height:20px;
	text-align:center;
	display:block;
	width:28px;
}
.index-shopping{
	position:relative;
}
.icon-nav-container a{
	background-color:#ffffff;
}
.shopping-contaiter{
	position:absolute;
	top:-234px;
	left:0px;
	display:none;
}
.shopping-item{
	margin-bottom:8px;
	background-color:#ffffff;
}
