.news-left{
	float:left;
	width:602px;
	overflow:hidden;
}
.news-right{
	float:right;
	width:336px;
}
.video-container{
	margin-top:25px;
	margin-bottom:23px;
}
.video-item{
	font-size:17px;
	line-height:30px;
	color:#93a25f;
}
.news-container{
	border-top:1px solid #acb2a4;
	padding:28px 0;
}
.special-container{
	border-top:none;
	padding-top:0;
}
.last-content{
	padding-bottom:18px;
}
.news-content .title{
	font-size:17px;
	color:#92a15e;
}
.news-content .content{
	line-height:18px;
}